# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Gradle
.gradle/
build/
.kotlin/
logs/
*.log
*.log.*

# Spring Boot
!**/src/main/**/application.properties
!**/src/main/**/application.yml
!**/src/main/**/application-*.properties
!**/src/main/**/application-*.yml

# Environment variables
.env
.env.*

# Operating System Files
.DS_Store
Thumbs.db

# Local Environment
local.properties

# Backup/Temporary Files
*~
*.bak
*.swp
.#*
